

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --colo-base: #cbaa51;
	--color-black:rgba(0, 0, 0, 0.186);
	--base-tranparent: rgba(203, 170, 81, 0.663);
	--text--parrafo:'Poppins', sans-serif;
	--text--title:'Lobster Two', cursive;
	
}
/* ESTILOS DE TEXTOS EN AMIGOS.HTML */
.text--parrafo{
     font-family: 'Poppins', sans-serif;
	 font-weight:600;
}
.text-tit-amigos{
	font-family: 'Lobster Two', cursive;
	font-size:1.4rem;
	font-weight:bold;
	color:var(--color-base)
}
.text--titles{
	font-family: 'Lobster Two', cursive;
	font-size:2.5rem;
	font-weight:bold;
}

.text--titles span{
	color: var(--colo-base);
	font-family: 'Lobster Two', cursive;
	font-size:2.5rem;
}

    /* font-family: 'Lobster Two', cursive; :  TITULOS*/
    /* font-family: 'Poppins', sans-serif; :PARRAFOS */
    /* color-base: #cbaa51 */


/* ESTILOS HEADER */

.cont--header{
	/* position: fixed;
	top: 0;
	bottom: ; */
	box-shadow: var(--color-black) 0px 0px 5px 5px ;
	background-color: white;
}
.options {
	display: contents; 
	justify-content:flex-end ;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	
}
.nav-item:hover{
	border: #cbaa51 3px;
	border-style: solid;
	background-color: var(--colo-base);
	color: white; 
	border-radius: 8px;
}
.options .nav-link:hover{
	color: white;
	font-weight: bold;

}
.options .nav-link{
	color: var(--colo-base);
	font-weight: bold;
}

.bg--container{

	background-color: var(--colo-base);
}

.text--tit h2{
	align-items: center;
	justify-content: center;
	font-family: 'Lobster Two', cursive;
	font-size: 3.2rem;
	color: white;
	font-weight: bold; 
	
} 
.text-responsive{
	font-family:'Poppins', sans-serif; 
	
	font-weight: bold;

}
.text-responsive a{
	color:white;
}
/* SECCION AMIGOS */

.card--style:hover{
	box-shadow: var(--base-tranparent) 5px 3px 5px 3px;
}
.effect--img {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(203, 170, 81, 0.663);
    -moz-box-shadow: 1px 1px 3px 0 rgba(203, 170, 81, 0.663);
    box-shadow: 1px 1px 3px 0 rgba(203, 170, 81, 0.663);
}
.effect--img img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.effect--img .ovrly {
    background: rgba(203, 170, 81, 0.663);
    height: 100%;
    left: 0;
    top: -100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.effect--img .buttons {
    position: absolute;
    top: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.effect--img .buttons svg {
    margin: 0 1px;
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.effect--img:hover .buttons {
    top: 50%;
}
.effect--img:hover .ovrly {
    top: 0;
}


/* SECCION VIAJES */
.cont--viajes:hover img{
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.cont--viajes{
	overflow:hidden;
}



.viajes--img {
	font-family: 'Lobster Two', cursive;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 230px;
	/* max-width: 315px; */
	width: 100%;
	color: #141414;
	text-align: left;
	line-height: 1.4em;
	font-size: 16px;
  }
  .viajes--img * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  }
  .viajes--img img {
	max-width: 100%;
	vertical-align: top;
  }
  .viajes--img figcaption {
	position: absolute;
	top: calc(83%);
	width: 100%;
	background-color: var(--colo-base) ;
	padding: 15px 25px 65px;
  }
  .viajes--img figcaption:before {
	position: absolute;
	content: '';
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(top, transparent 0%, var(--colo-base)  100%);
	background-image: linear-gradient(to bottom, transparent 0%, var(--colo-base) 100%);
  }
  .viajes--img h3,
  .viajes--img p {
	margin: 0 0 10px;
  }
  .viajes--img h3 {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.2em;
	font-family: 'Poppins', sans-serif;
	color: white;
	text-transform: uppercase;
  }
  .viajes--img p {
	font-size: 0.9em;
	letter-spacing: 1px;
	opacity: 0.9;
  }
  .viajes--img a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
  }
  .viajes--img:hover figcaption,
  .viajes--img.hover figcaption {
	display: none;
  }

  /* FOOTER */
  .foot-backgroud {
	background-color: var(--colo-base);
}
.icons--footer  a {

	padding: 10px;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 80px;	
	/* text-align:center; */
  
  }

  .icons--footer a:hover{
	color: black;
  }

  .text--footer{
	font-family: 'Lobster Two', cursive;
	font-size:1.8rem;
	font-weight:bold;
	/* text-align:center; */
	color:white;
  }

  .text--parrafo--footer{
	font-family: 'Poppins', sans-serif; 
	color:white;
	font-weight:bold;
	font-size:1.2rem;
  }

@media (min-width: 992px){
	/* .text--tit h2{
		margin-top: -280px; 
	 margin-bottom: 280px;
	} */
	.section--amigos{
		/* margin-top:325px;  */
		background-color: white;
		
	}
	.img-bg-amigos{
		background-image: url(../img/amigas.jpg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}