@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,400;0,500;1,500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}


.container{
    height: 100vh;
    display: flex;
    margin: none;

    
}

.info{
    width: 235;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-personal{
    margin: bottom 30px;
    
}


.info-personal .foto{
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 5px solid #484848;
}

.info-personal span{
    font-size: 20px;
    color: #fff;
    font-family: 'Lobster Two', cursive;
}

.info-personal p{
    font-size:  16px;
    color: #8a8a8a;
}

nav ul{
    list-style: none;
}
nav ul li{
    margin: 15px 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color:#cbaa51;
}

.selecionado{
    color: #cbaa51
;
}

.portada{
    width: 100%;
    background: url(https://img.freepik.com/fotos-premium/chica-trabajando-computadora-portatil-restaurante_1157-11505.jpg);
    background: linear-gradient( rgba(203, 170, 81, 0.247),
    rgba(203, 170, 81, 0.247)), url(https://img.freepik.com/fotos-premium/chica-trabajando-computadora-portatil-restaurante_1157-11505.jpg);
    background-size: cover;
    background-position: center center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.portada h1{
    font-size: 68px;
    color: #fff;
    font-family: 'Lobster Two', cursive;

}

.portada h1 .rojo{
    color:#cbaa51   ;
}

.portada p{
    font-size: 32px;
    color:#cbaa51;
    font-family: 'Lobster Two', cursive;

}

.boton{
    display: block;
    width: 180px;
    margin: 0 auto;
    background-color: transparent;
    border: 4px solid#cbaa51   ; 
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    
    
}

.boton:hover{
    background-color:#cbaa51 ;
}

.texto{
    background-position: center center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;  
     
}